src/Controller/client.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:arnleadservicewsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:helloservicewsdl">

    <types>
        <xsd:schema targetNamespace="urn:clientsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
        </xsd:schema>
    </types>

    <message name="clientRequest">
        <part name="name" type="xsd:string" />
        <part name="document" type="xsd:string" />
        <part name="email" type="xsd:string" />
        <part name="phone" type="xsd:string" />
    </message>

    <message name="clientResponse">
        <part name="return" type="xsd:string" />
    </message>

    <message name="reloadRequest">
        <part name="document" type="xsd:string" />
        <part name="phone" type="xsd:string" />
        <part name="email" type="xsd:double" />
    </message>

    <message name="reloadResponse">
        <part name="return" type="xsd:string" />
    </message>

    <portType name="clientwsdlPortType">
        <operation name="client">
            <documentation>Client</documentation>
            <input message="tns:clientRequest"/>
            <output message="tns:clientResponse"/>
        </operation>
        <operation name="reload">
            <documentation>Client</documentation>
            <input message="tns:reloadRequest"/>
            <output message="tns:reloadResponse"/>
        </operation>
    </portType>

    <binding name="clientwsdlBinding" type="tns:clientwsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="client">
            <soap:operation soapAction="urn:arnleadservicewsdl#client" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:clientwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:clientwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="reload">
            <soap:operation soapAction="urn:arnleadservicewsdl#reload" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:reloadwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:reloadwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="clientwsdl">
        <port name="clientwsdlPort" binding="tns:clientwsdlBinding">
            <soap:address location="http://127.0.0.1:8000/index.php/soap?wsdl" />
        </port>
    </service>
</definitions>
